@import "../../Styles/Config.scss";

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    border-top: 1px solid $main-black;
    border-bottom: 1px solid $main-black;
    .underline {
        position: relative;
        text-align: center;
        &.inactive {
            a {
                text-decoration: none;
            }
            &:after {
                content: "";
                position: absolute;
                width: 150%;
                height: 2px;
                bottom: -5px;
                left: -25%;
                background-color: $main-grey;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.5s ease-in-out 0s;
                transition: all 0.5s ease-in-out 0s;
            }
            &:hover:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }
        &.active {
            a {
                text-decoration: none;
            }
            &:after {
                content: "";
                position: absolute;
                width: 150%;
                height: 2px;
                bottom: -5px;
                left: -25%;
                background-color: $red;
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition: all 0.5s ease-in-out 0s;
                transition: all 0.5s ease-in-out 0s;
            }
        }
    }
}

.dark {
    .nav {
        .underline {
            &.inactive {
                &:after {
                    background-color: $main-white;
                }
            }
            &.active {
                &:after {
                    
                    background-color: $red;
                }
            }
        }
    }
}