@import "./Normalize.scss";
@import "./FlexGrid.scss";
@import "./Config.scss";

html {
	font-family: $standard-font;
	box-sizing: border-box;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
}

body {
	transition: background .5s ease;
	background: $white;
	h1, h2, h3, h4, h5, p, button, a:link, a:visited, a:hover, div, span, header {
		transition: background .5s ease, color .5s ease, border-color .5s ease;
		color: $black;
		border-color: $black;
		background: $white;
	}

	&.dark {
		background: $black;
		h1, h2, h3, h4, h5, p, button, a:link, a:visited, a:hover, div, span, header  {
			color: $white;
			border-color: $white;
			background: $black;
		}
	}
}

.deskbreak, .desk-break {
	display: none;
	@include for-desktop {
		display: block;
	}
}

@include for-desktop {
	.mobbreak, .mob-break {
		display: none;
	}
}

button:hover {
	cursor: pointer;
}

*:focus {
	outline: none;
}

.site-wrapper {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	animation: fade-in .8s ease-in;
	.container {
		width: 90%;
		min-height: 100vh;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		&.landing {
			align-items: center;
		}
		@include for-desktop {
			width: 70%;
		}
	}
	.toggleDark {
		position: fixed;
		bottom: 2%;
		left: 2%;
		height: 40px;
		width: 80px;
		border-radius: 50px;
		box-sizing:content-box;
		cursor: pointer;
		.slider-wrap {
			background: #fefefe;
			width: 100%;
			height: 100%;
			border-radius: 50px;
			position: relative;
			.slider {
				transition: all .5s ease;
				width: 50%;
				height: 100%;
				background: #444 !important;
				border-radius: 50%;
				position: absolute;
				left: 0;
				.moon {
					display: block;
				}
				.sun {
					display: none;
				}
			}
		}
		&.dark {
			justify-content: flex-end;
			.slider-wrap {
				background: #333;
				.slider {
					left: 50%;
					background: #fefefe !important;
				}
			}
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}