@import "./Normalize.scss";
@import "./FlexGrid.scss";
@import "./Config.scss";

html {
	font-family: $standard-font;
	box-sizing: border-box;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
}

.deskbreak, .desk-break {
	display: none;
	@include for-desktop {
		display: block;
	}
}

@include for-desktop {
	.mobbreak, .mob-break {
		display: none;
	}
}

button:hover {
	cursor: pointer;
}

*:focus {
	outline: none;
}

.site-wrapper {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	.container {
		width: 80%;
		min-height: 100vh;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		@include for-desktop {
			width: 50%;
		}
	}
}