.projects-container {
    width: 100%;
    padding-top: 1rem;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .proj-header {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .proj-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}