@import '../../styles/Config.scss';

.details-wrapper {
    background: none;
    padding: 1.5rem 0;
    * {
        background: transparent;
    }
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .content-wrap {
        .content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 1rem 0;
            .text {
                width: 90%;
                padding-left: 1rem;
            }
        }
    }
}

.dark {
    .details-wrapper {
        * {
            background: transparent;
        }
    }
}