@import "../../styles/Config.scss";

.social-icon {
    font-size: 1.8rem;
    border: 1px solid $red;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    i {
        transform: rotate(-45deg);
        color: $red;
    }
    &:hover {
        cursor: pointer;
        animation: wavy 2.5s linear infinite;
    }

    @keyframes wavy {
        0% { border-radius: 50%; }
        50% { border-radius: 0% } 
        100% { border-radius: 50% }
    }
}

.dark {
    .social-icon {
        border: 1px solid $red;
        i {
            color: $red;
        }
    }
}