@import "../../Styles/Config.scss";

.index-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    .header {
        text-align: center;
        font-size: 2.5rem;
        .name {
            margin-bottom: 1rem;
        }
    }
    @include for-desktop {
        width: 75%;   
    }
}