@import "../../styles/Config.scss";

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 2px -2px gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
        width: 100%;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            position: relative;
            color: #0a0a0a;
            h1 {
                font-size: 2rem;
            }
        }
    }
    .header-nav, .header-social {
        width: 100%;
        display: flex;
        // justify-content: space-around;
        align-items: center;
        .nav {
            border: none;
            width: 100%;
        }
        display: none;
    }

    @include for-desktop {
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
        .name {
            width: 50%;
        }
        .header-nav, .header-social {
            width: 50%;
            display: flex;
            // justify-content: space-around;
            align-items: center;
            .nav {
                border: none;
                width: 100%;
            }
        }
    }
}